<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>308896033495-3id0g548pd09uvjduer6kqtc1jc29n4d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.308896033495-3id0g548pd09uvjduer6kqtc1jc29n4d</string>
	<key>API_KEY</key>
	<string>AIzaSyAZzAnqAAox9d0dBXW7TvDVBeG12qKnthc</string>
	<key>GCM_SENDER_ID</key>
	<string>308896033495</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appchatfakezalo</string>
	<key>PROJECT_ID</key>
	<string>appchatfakezalo</string>
	<key>STORAGE_BUCKET</key>
	<string>appchatfakezalo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:308896033495:ios:2734ceb0b4c0bf5e55de92</string>
</dict>
</plist>